@import "../../styles/variables.scss";

.channel {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  padding: 5px 15px;
  &__title {
    color: $heading_color;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.2);
  }
}

.channel-link {
  text-decoration: none;
  &_active {
    .channel__title {
      color: $primary;
    }
  }
}
