@import url(variables.scss);

.channel {
  width: 158px;
  height: 158px;
  background-color: #fff;
  border-radius: 12px;
  &__title {
    color: $primary;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
  }
}
